<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flight and Accommodation Results</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h1 class="mt-5 m-3">항공권 및 숙박 검색 결과</h1>

  <div th:if="${searchForm.tripType == 'oneWay'}" class="row">
    <!-- Display recommendation cards -->
    <div class="col-md-12 mb-4" th:each="recommendation : ${recommendations}">
      <div class="card">
        <div class="card-body">
          <!-- Flight details -->
          <h5 class="card-title">항공권 정보</h5>
          <p class="card-text" th:text="${recommendation.flight.departureCity.name + ' - ' + recommendation.flight.arrivalCity.name}"></p>
          <p class="card-text" th:text="${'Departure: ' + recommendation.flight.departureDatetime}"></p>
          <p class="card-text" th:text="${'Price: ' + recommendation.flight.price}"></p>
          <p class="card-text" th:text="${'Airline: ' + recommendation.flight.airline}"></p>
          <p class="card-text" th:text="${'Transfer count: ' + recommendation.flight.transferCount}"></p>
          <!-- Accommodation details -->
          <h5 class="card-title mt-4">숙소 정보</h5>
          <p class="card-text" th:text="${recommendation.accomodation.city.name}"></p>
          <p class="card-text" th:text="${'Latitude: ' + recommendation.accomodation.latitude}"></p>
          <p class="card-text" th:text="${'Longitude: ' + recommendation.accomodation.longitude}"></p>
          <p class="card-text" th:text="${'Price: ' + recommendation.accomodation.price}"></p>
          <p class="card-text" th:text="${'Rating: ' + recommendation.accomodation.rating}"></p>
          <p class="card-text" th:text="${'Check-in date: ' + recommendation.accomodation.checkinDate}"></p>
          <p class="card-text" th:text="${'Check-out date: ' + recommendation.accomodation.checkoutDate}"></p>
        </div>
      </div>
    </div>
  </div>

  <!-- Recommendations -->
  <div th:if="${searchForm.tripType == 'roundTrip'}" class="row">
    <!-- Display recommendation cards -->
    <div class="col-md-12 mb-4">
      <div>
        <!-- Flight card -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Flight Details</h5>
<!--            <p class="card-text">Flight: <span th:text="${entry.key.airline}"></span></p>-->
<!--            <p class="card-text">Price: <span th:text="${entry.key.price}"></span></p>-->
            <p class="card-text" th:text="${'Departure Date/Time: ' + flight.departureDatetime}"></p>
            <p class="card-text" th:text="${'Departure Date/Time: ' + flight.returnDepartureDatetime}"></p>
            <p class="card-text" th:text="${'Airline: ' + flight.airline}"></p>
            <p class="card-text" th:text="${'Transfer count: ' + flight.price}"></p>
            <p class="card-text" th:text="${'Transfer count: ' + flight.transferCount}"></p>
            <p class="card-text" th:text="${'Price: ' + flight.price}"></p>

            <!-- Add more flight details as needed -->
          </div>
        </div>

        <!-- Accommodation cards -->
        <div th:each="accomodation : ${accomodations}">
          <div class="card mt-3">
            <div class="card-body">
              <h5 class="card-title">Accommodation Details</h5>
              <p class="card-text" th:text="${'Price: ' + accomodation.price}"></p>
              <p class="card-text" th:text="${'Rating: ' + accomodation.rating}"></p>
              <p class="card-text" th:text="${'Check-in date: ' + accomodation.checkinDate}"></p>
              <p class="card-text" th:text="${'Check-out date: ' + accomodation.checkoutDate}"></p>
              <!-- Add more accommodation details as needed -->
            </div>
          </div>
        </div>
      </div>

<!--      -->
<!--      <div class="card">-->
<!--        <div class="card-body">-->
<!--          &lt;!&ndash; Flight details &ndash;&gt;-->
<!--          <h5 th:each="entry : ${recommendation}" class="mt-1 m-3">-->
<!--            항공권 정보 : <span th:text="${entry.key}"></span>-->
<!--          </h5>-->

<!--          <h5 class="card-title">항공권 정보</h5>-->
<!--          <p class="card-text" th:text="${entry.key.departureCity.name + ' - ' + entry.key.arrivalCity.name}"></p>-->
<!--          <p class="card-text" th:text="${'Departure Date/Time: ' + entry.key.departureDatetime}"></p>-->
<!--          <p class="card-text" th:text="${'Departure Date/Time: ' + entry.key.returnDepartureDatetime}"></p>-->
<!--          <p class="card-text" th:text="${'Airline: ' + entry.key.aireline}"></p>-->
<!--          <p class="card-text" th:text="${'Transfer count: ' + entry.key.price}"></p>-->
<!--          <p class="card-text" th:text="${'Transfer count: ' + entry.key.transferCount}"></p>-->
<!--          <p class="card-text" th:text="${'Price: ' + entry.key.price}"></p>-->

          <!-- Accommodation details -->

<!--          <h5 class="card-title mt-4" th:each="accommodation : ${entry.value}">숙소 정보</h5>-->
<!--            <p class="card-text" th:text="${recommendation.accomodation.city.name}"></p>-->
<!--            <p class="card-text" th:text="${'Latitude: ' + recommendation.accomodation.latitude}"></p>-->
<!--            <p class="card-text" th:text="${'Longitude: ' + recommendation.accomodation.longitude}"></p>-->
<!--            <p class="card-text" th:text="${'Price: ' + recommendation.accomodation.price}"></p>-->
<!--            <p class="card-text" th:text="${'Rating: ' + recommendation.accomodation.rating}"></p>-->
<!--            <p class="card-text" th:text="${'Check-in date: ' + recommendation.accomodation.checkinDate}"></p>-->
<!--            <p class="card-text" th:text="${'Check-out date: ' + recommendation.accomodation.checkoutDate}"></p>-->
<!--        </div>-->
<!--      </div>-->





    </div>
  </div>
  <!-- Add more recommendation cards as needed -->
</div>
</body>
</html>
