<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flight and Accommodation Results</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h1 class="mt-5 m-3">항공권 및 숙박 검색 결과</h1>

  <!-- Recommendations -->
  <div class="row">
    <!-- Display recommendation cards -->
    <div class="col-md-6 mb-4" th:each="recommendation : ${recommendations}">
      <div class="card">
        <div class="card-body">
          <!-- Flight details -->
          <h5 class="card-title">도시 추천</h5>
          <p class="card-text" th:text="${'출발 도시: ' + recommendation.departureCity.name}"></p>
          <p class="card-text" th:text="${'도착 도시: ' + recommendation.arrivalCity.name}"></p>

          <h5 class="card-title">항공권 정보</h5>
          <p class="card-text" th:text="${'항공권 가격: ' + recommendation.flight.price}"></p>
          <p class="card-text" th:text="${'항공사: ' + recommendation.flight.airline}"></p>

          <h5 class="card-title mt-4">숙소 정보</h5>

          <div th:each="accomodation : ${recommendation.accomodations}">
            <div class="card mt-3">
              <div class="card-body">
                <h5 class="card-title">숙소 상세 정보</h5>
                <p class="card-text" th:text="${'체크인 날짜: ' + accomodation.checkinDate}"></p>
                <p class="card-text" th:text="${'체크아웃 날짜: ' + accomodation.checkoutDate}"></p>
                <p class="card-text" th:text="${'가격: ' + accomodation.price}"></p>
                <p class="card-text" th:text="${'평점: ' + accomodation.rating}"></p>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
</body>
</html>
