<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trippers</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link th:href="@{/css/trippers.css}" rel="stylesheet" href="/css/trippers.css" />
<!--    <link-->
<!--      rel="icon"-->
<!--      href="/src/main/resources/static/img/logo-removeword.png"-->
<!--    />-->
  </head>
  <body class="main mb-5">
    <header>
      <nav th:replace="~{navbar :: header}"></nav>
    </header>
    <div class="container">
      <div class="main">

      </div>
      <h1 class="mt-5 m-3">
        <img
                src="/img/logo-removebg.png"
                th:src="@{/img/logo-removebg.png}"
                th:alt="로고"
                alt="로고"
                class="logo"
        />
        일본 여행
      </h1>
      <form
        id="reservationForm"
        class="m-3"
        action="/search/result"
        th:method="get"
      >
        <div class="form-group">
          <label>여행 유형:</label><br />
          <div class="form-check form-check-inline">
            <input
              type="radio"
              id="roundTrip"
              name="tripType"
              value="roundTrip"
              class="form-check-input"
              checked
            />
            <label for="roundTrip" class="form-check-label">왕복</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              type="radio"
              id="oneWay"
              name="tripType"
              value="oneWay"
              class="form-check-input"
            />
            <label for="oneWay" class="form-check-label">편도</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="departureCountry">출발 나라:</label>
              <select
                name="departureCountry"
                id="departureCountry"
                class="form-control"
              >
                <option value="korea">대한민국</option>
                <option value="japan">일본</option>
                <!-- Add more countries as needed -->
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="departureCity">출발 도시:</label>
              <select
                name="departureCity"
                id="departureCity"
                class="form-control"
              >
                <!-- Options will be populated based on the selected country using JavaScript -->
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="arrivalCountry">도착 나라:</label>
              <select
                name="arrivalCountry"
                id="arrivalCountry"
                class="form-control"
              >
                <option value="korea">대한민국</option>
                <option value="japan">일본</option>
                <!-- Add more countries as needed -->
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="arrivalCity">도착 도시:</label>
              <select name="arrivalCity" id="arrivalCity" class="form-control">
                <!-- Options will be populated based on the selected country using JavaScript -->
              </select>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="departureDate">출발 날짜:</label>
          <input
            type="date"
            name="departureDate"
            id="departureDate"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="returnDate">도착 날짜:</label>
          <input
            type="date"
            name="returnDate"
            id="returnDate"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="budget">예산:</label>
          <input
            type="number"
            name="budget"
            id="budget"
            class="form-control"
            placeholder="※숫자만 입력해주세요! 예시: 500000"
          />
        </div>
        <button type="submit" class="btn btn-primary">검색</button>
      </form>
    </div>
    <script src="js/script.js"></script>
  </body>
</html>
