<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trippers</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link th:href="@{/css/trippers.css}" rel="stylesheet" href="/css/trippers.css" />
  </head>
  <body class="main mb-5">
    <header>
      <nav th:replace="~{navbar :: header}"></nav>
    </header>

    <div class="container">
      <h1 class="mt-5 m-3">항공권 및 숙박 검색 결과</h1>

      <!-- Flight Results -->
      <h2 class="mt-5 m-3">항공권 결과</h2>
      <h5 class="mt-1 m-3">
        출발 도시 : <span id="departureCity" th:text="${searchForm.departureCity}"></span>
      </h5>
      <h5 class="mt-1 m-3">
        도착 도시 : <span id="arrivalCity" th:text="${searchForm.arrivalCity}"></span>
      </h5>

      <h5 class="mt-1 m-3">
        여행 유형:  <span th:if="${searchForm.tripType == 'oneWay'}">편도</span>
        <span th:if="${searchForm.tripType == 'roundTrip'}">왕복</span>
      </h5>

      <table th:if="${searchForm.tripType == 'oneWay'}" class="table m-3">
        <thead>
        <tr>
          <th scope="col">출발 날짜/시간</th>
          <th scope="col">가격</th>
          <th scope="col">항공사</th>
          <th scope="col">환승 횟수</th>
        </tr>
        </thead>
        <tbody>
        <!-- Flight results rows will be dynamically populated here -->
        <tr th:each="flight : ${flights}">
          <td th:text="${flight.departureDatetime}">출발날짜1</td>
          <td th:text="${flight.price}">가격1</td>
          <td th:text="${flight.airline}">항공사1</td>
          <td th:text="${flight.transferCount}">환승횟수1</td>
        </tr>
        <!-- Add more rows as needed -->
        </tbody>
      </table>

      <table th:if="${searchForm.tripType == 'roundTrip'}" class="table m-3">
        <thead>
        <tr>
          <th scope="col">출발 날짜/시간</th>
          <th scope="col">귀국 날짜/시간</th>
          <th scope="col">가격</th>
          <th scope="col">항공사</th>
          <th scope="col">환승 횟수</th>
        </tr>
        </thead>
        <tbody>
        <!-- Flight results rows will be dynamically populated here -->
        <tr th:each="flight : ${flights}">
          <td th:text="${flight.departureDatetime}">출발날짜1</td>
          <td th:text="${flight.returnDepartureDatetime}">귀국날짜1</td>
          <td th:text="${flight.price}">가격1</td>
          <td th:text="${flight.airline}">항공사1</td>
          <td th:text="${flight.transferCount}">환승횟수1</td>
        </tr>
        <!-- Add more rows as needed -->
        </tbody>
      </table>


      <form th:action="@{/search/result/accomodations}" method="get">
        <input type="hidden" name="tripType" th:value="${searchForm.tripType}" />
        <input type="hidden" name="departureCity" th:value="${searchForm.departureCity}" />
        <input type="hidden" name="arrivalCity" th:value="${searchForm.arrivalCity}" />
        <input type="hidden" name="departureDate" th:value="${searchForm.departureDate}" />
        <input type="hidden" name="returnDate" th:value="${searchForm.returnDate}" />

        <button type="submit" class="btn btn-primary">숙소 검색 결과보기</button>
      </form>


<!--      <form id="searchForm" class="m-3" action="/search/result/accomodations" th:method="get">-->
        <!-- 이 부분에 검색 폼 내용이 들어갑니다. -->
<!--        <button type="submit" class="btn btn-primary">숙소 검색 결과보기</button>-->
<!--      </form>-->

    </div>

  </body>
</html>
